#!/bin/csh
# Copyright (c) 2002  Dustin Sallings
# $Id: .aliases,v 1.4 2003/08/20 06:03:41 dustin Exp $

# Let's grab the architecture for machine dependant aliases
set arch=`uname -m`

alias ls ls -AF
alias ll ls -l

# Use the vim detected in the .cshrc
alias vi $VEEEYE
alias vim $VEEEYE

if ( -r /usr/local/bin/ctags ) then
	alias ctags /usr/local/bin/ctags
endif

alias ec $EMACSCLIENT -n

if ( -r ~/".aliases.$arch" ) then
    source ~/".aliases.$arch"
endif

if ( -r ~/".aliases.local" ) then
    source ~/".aliases.local"
endif
