[submodule "elisp/muse"]
	path = elisp/muse
	url = git://repo.or.cz/muse-el.git
[submodule "elisp/planner"]
	path = elisp/planner
	url = git://repo.or.cz/planner-el.git
[submodule "elisp/remember"]
	path = elisp/remember
	url = git://repo.or.cz/remember-el.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "elisp/growl"]
	path = elisp/growl
	url = git://github.com/elim/emacs-growl.git
