[submodule "elisp/muse"]
	path = elisp/muse
	url = git://repo.or.cz/muse-el.git
[submodule "elisp/planner"]
	path = elisp/planner
	url = git://repo.or.cz/planner-el.git
[submodule "elisp/remember"]
	path = elisp/remember
	url = git://repo.or.cz/remember-el.git
[submodule "elisp/magit"]
	path = elisp/magit
    url = git://github.com/magit/magit.git
[submodule "elisp/growl"]
	path = elisp/growl
	url = git://github.com/elim/emacs-growl.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = git://github.com/nablaone/slime.git
[submodule "elisp/coffee"]
	path = elisp/coffee
	url = git://github.com/defunkt/coffee-mode.git
